workflows/n8n/ris-blog-ingestion.json
{
  "name": "RIS Blog Ingestion",
  "nodes": [
    {
      "parameters": {
        "content": "Blog ingestion - every 4h"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-000000000002",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "docker exec polytool-polytool-1 python -m polytool research-scheduler run-job blog_ingest"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-000000000003",
      "name": "Run blog_ingest",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-000000000011",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-000000000004",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"content\": \"RIS Pipeline Alert\",\n  \"embeds\": [{\n    \"title\": \"Workflow Failed: RIS Blog Ingestion\",\n    \"description\": \"Exit code: {{ $('Run blog_ingest').item.json.exitCode }}\\nStderr: {{ $('Run blog_ingest').item.json.stderr.substring(0, 500) }}\",\n    \"color\": 16711680\n  }]\n}"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-000000000005",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Run blog_ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run blog_ingest": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Discord Alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "ris-blog-ingestion-v2",
  "meta": {
    "instanceId": "polytool-ris-v2"
  },
  "pinData": {},
  "staticData": null
}
