workflows/n8n/ris-manual-ingest.json
{
  "name": "RIS Manual Ingest",
  "nodes": [
    {
      "parameters": {
        "content": "Manual ingest webhook - POST /webhook/ris-ingest with {url, source_family}"
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ris-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-000000000002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "=docker exec polytool-polytool-1 python -m polytool research-acquire --url \"{{ $json.body.url }}\" --source-family \"{{ $json.body.source_family }}\" --no-eval"
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-000000000003",
      "name": "Run research-acquire",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: $json.exitCode === 0, result: $json.stdout, exit_code: $json.exitCode, stderr: $json.stderr.substring(0, 500)}) }}"
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run research-acquire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run research-acquire": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "ris-manual-ingest-v2",
  "meta": {
    "instanceId": "polytool-ris-v2"
  },
  "pinData": {},
  "staticData": null
}
