workflows/n8n/ris_orchestrator.json
{
  "name": "RIS Orchestrator",
  "nodes": [
    {
      "id": "orch-sticky-1",
      "name": "Section 1: Health Monitor",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 60],
      "parameters": {
        "content": "## Section 1: Health Monitor\n**Schedule:** Every 30 minutes\n**Flow:** Schedule -> research-health [continueOnFail] -> research-stats [continueOnFail] -> Parse output -> IF hasAlert -> Discord alert",
        "height": 140,
        "width": 500
      }
    },
    {
      "id": "orch-health-cron",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 240],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      }
    },
    {
      "id": "orch-health-cmd",
      "name": "Run research-health",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 240],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-health"
      },
      "continueOnFail": true
    },
    {
      "id": "orch-stats-cmd",
      "name": "Run research-stats",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [760, 240],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-stats summary"
      },
      "continueOnFail": true
    },
    {
      "id": "orch-parse-health",
      "name": "Parse Health Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 240],
      "parameters": {
        "jsCode": "const healthOut = $('Run research-health').first().json.stdout || '';\nconst statsOut = $('Run research-stats').first().json.stdout || '';\nconst healthExit = $('Run research-health').first().json.exitCode;\nconst statsExit = $('Run research-stats').first().json.exitCode;\nconst hasAlert = healthOut.includes('RED') || healthOut.includes('CRITICAL') || healthOut.includes('FAIL') || healthOut.includes('pipeline_failed') || healthOut.includes('ERROR') || healthExit !== 0 || statsExit !== 0;\nreturn [{ json: { hasAlert, healthOutput: healthOut.substring(0, 1200), statsOutput: statsOut.substring(0, 800), healthExit, statsExit } }];"
      }
    },
    {
      "id": "orch-if-alert",
      "name": "IF Health Alert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1280, 240],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.hasAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "orch-format-health-alert",
      "name": "Format Health Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 140],
      "parameters": {
        "jsCode": "const d = $('Parse Health Output').first().json;\nconst content = `**RIS Health Alert**\\n\\nHealth exit: ${d.healthExit} | Stats exit: ${d.statsExit}\\n\\n**Health Output:**\\n\\`\\`\\`\\n${d.healthOutput}\\n\\`\\`\\`\\n\\n**Stats:**\\n\\`\\`\\`\\n${d.statsOutput}\\n\\`\\`\\``;\nreturn [{ json: { content } }];"
      }
    },
    {
      "id": "orch-discord-health",
      "name": "Discord Health Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1800, 140],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}"
      },
      "continueOnFail": true
    },
    {
      "id": "orch-health-ok",
      "name": "Health OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 340],
      "parameters": {}
    },
    {
      "id": "orch-sticky-2",
      "name": "Section 2: Manual Pipeline Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 520],
      "parameters": {
        "content": "## Section 2: Manual Pipeline Trigger\n**Endpoint:** POST /webhook/ris-trigger\n**Body:** `{\"pipeline\": \"academic|reddit|blog|youtube|github|digest|freshness\"}`\n**Flow:** Webhook -> Switch -> Execute sub-workflow -> Respond 200\nFallback: Respond 400 unknown pipeline",
        "height": 160,
        "width": 500
      }
    },
    {
      "id": "orch-trigger-webhook",
      "name": "RIS Trigger Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 740],
      "parameters": {
        "httpMethod": "POST",
        "path": "ris-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "ris-trigger-webhook"
    },
    {
      "id": "orch-switch-pipeline",
      "name": "Switch Pipeline",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [500, 740],
      "parameters": {
        "mode": "rules",
        "dataType": "string",
        "value1": "={{ $json.body.pipeline }}",
        "rules": {
          "rules": [
            {"value2": "academic", "outputKey": "academic"},
            {"value2": "reddit", "outputKey": "reddit"},
            {"value2": "blog", "outputKey": "blog"},
            {"value2": "youtube", "outputKey": "youtube"},
            {"value2": "github", "outputKey": "github"},
            {"value2": "digest", "outputKey": "digest"},
            {"value2": "freshness", "outputKey": "freshness"}
          ]
        },
        "fallbackOutput": -1
      }
    },
    {
      "id": "orch-exec-academic",
      "name": "Exec Academic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 540],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_ACADEMIC", "mode": "id"}
      }
    },
    {
      "id": "orch-exec-reddit",
      "name": "Exec Reddit",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 620],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_REDDIT", "mode": "id"}
      }
    },
    {
      "id": "orch-exec-blog",
      "name": "Exec Blog",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 700],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_BLOG", "mode": "id"}
      }
    },
    {
      "id": "orch-exec-youtube",
      "name": "Exec YouTube",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 780],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_YOUTUBE", "mode": "id"}
      }
    },
    {
      "id": "orch-exec-github",
      "name": "Exec GitHub",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 860],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_GITHUB", "mode": "id"}
      }
    },
    {
      "id": "orch-exec-digest",
      "name": "Exec Digest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 940],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_DIGEST", "mode": "id"}
      }
    },
    {
      "id": "orch-exec-freshness",
      "name": "Exec Freshness",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [760, 1020],
      "parameters": {
        "workflowId": {"__rl": true, "value": "PLACEHOLDER_FRESHNESS", "mode": "id"}
      }
    },
    {
      "id": "orch-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 780],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ pipeline: $('RIS Trigger Webhook').first().json.body.pipeline, status: 'triggered', triggered_at: new Date().toISOString() }) }}"
      }
    },
    {
      "id": "orch-respond-unknown",
      "name": "Respond Unknown Pipeline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [760, 1120],
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={ \"error\": \"Unknown pipeline. Valid values: academic, reddit, blog, youtube, github, digest, freshness\" }"
      }
    },
    {
      "id": "orch-sticky-3",
      "name": "Section 3: URL Ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 1240],
      "parameters": {
        "content": "## Section 3: URL Ingest\n**Endpoint:** POST /webhook/ris-ingest\n**Body:** `{\"url\": \"...\", \"source_family\": \"academic|github|blog|news|book|reddit|youtube\"}`\n**Flow:** Webhook -> research-acquire [continueOnFail] -> IF exit 0 -> Respond 200 / Format error -> Discord alert -> Respond 500",
        "height": 160,
        "width": 600
      }
    },
    {
      "id": "orch-ingest-webhook",
      "name": "RIS Ingest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 1460],
      "parameters": {
        "httpMethod": "POST",
        "path": "ris-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "ris-ingest-webhook"
    },
    {
      "id": "orch-ingest-cmd",
      "name": "Run research-acquire",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 1460],
      "parameters": {
        "command": "=docker exec polytool-ris-scheduler python -m polytool research-acquire --url \"{{ $json.body.url }}\" --source-family \"{{ $json.body.source_family }}\" --no-eval"
      },
      "continueOnFail": true
    },
    {
      "id": "orch-ingest-if",
      "name": "IF Ingest OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 1460],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ingest-exitcode",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "orch-respond-ingest-ok",
      "name": "Respond Ingest OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 1360],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ingested', url: $('RIS Ingest Webhook').first().json.body.url, source_family: $('RIS Ingest Webhook').first().json.body.source_family, stdout: $('Run research-acquire').first().json.stdout }) }}"
      }
    },
    {
      "id": "orch-ingest-format-error",
      "name": "Format Ingest Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 1560],
      "parameters": {
        "jsCode": "const execNode = $('Run research-acquire').first().json;\nconst ingestNode = $('RIS Ingest Webhook').first().json;\nconst stderr = (execNode.stderr || '').substring(0, 1500);\nconst exitCode = execNode.exitCode;\nconst url = ingestNode.body.url || '(no url)';\nconst content = `**RIS Ingest Error**\\n\\nURL: ${url}\\nExit code: ${exitCode}\\n\\n**stderr:**\\n\\`\\`\\`\\n${stderr}\\n\\`\\`\\``;\nreturn [{ json: { content, exitCode, stderr } }];"
      }
    },
    {
      "id": "orch-ingest-discord",
      "name": "Discord Ingest Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 1560],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}"
      },
      "continueOnFail": true
    },
    {
      "id": "orch-respond-ingest-error",
      "name": "Respond Ingest Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1540, 1560],
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ JSON.stringify({ error: 'research-acquire failed', exitCode: $('Format Ingest Error').first().json.exitCode, stderr: $('Format Ingest Error').first().json.stderr }) }}"
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [[{"node": "Run research-health", "type": "main", "index": 0}]]
    },
    "Run research-health": {
      "main": [[{"node": "Run research-stats", "type": "main", "index": 0}]]
    },
    "Run research-stats": {
      "main": [[{"node": "Parse Health Output", "type": "main", "index": 0}]]
    },
    "Parse Health Output": {
      "main": [[{"node": "IF Health Alert", "type": "main", "index": 0}]]
    },
    "IF Health Alert": {
      "main": [
        [{"node": "Format Health Alert", "type": "main", "index": 0}],
        [{"node": "Health OK", "type": "main", "index": 0}]
      ]
    },
    "Format Health Alert": {
      "main": [[{"node": "Discord Health Alert", "type": "main", "index": 0}]]
    },
    "RIS Trigger Webhook": {
      "main": [[{"node": "Switch Pipeline", "type": "main", "index": 0}]]
    },
    "Switch Pipeline": {
      "main": [
        [{"node": "Exec Academic", "type": "main", "index": 0}],
        [{"node": "Exec Reddit", "type": "main", "index": 0}],
        [{"node": "Exec Blog", "type": "main", "index": 0}],
        [{"node": "Exec YouTube", "type": "main", "index": 0}],
        [{"node": "Exec GitHub", "type": "main", "index": 0}],
        [{"node": "Exec Digest", "type": "main", "index": 0}],
        [{"node": "Exec Freshness", "type": "main", "index": 0}],
        [{"node": "Respond Unknown Pipeline", "type": "main", "index": 0}]
      ]
    },
    "Exec Academic": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Exec Reddit": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Exec Blog": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Exec YouTube": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Exec GitHub": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Exec Digest": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "Exec Freshness": {
      "main": [[{"node": "Respond OK", "type": "main", "index": 0}]]
    },
    "RIS Ingest Webhook": {
      "main": [[{"node": "Run research-acquire", "type": "main", "index": 0}]]
    },
    "Run research-acquire": {
      "main": [[{"node": "IF Ingest OK", "type": "main", "index": 0}]]
    },
    "IF Ingest OK": {
      "main": [
        [{"node": "Respond Ingest OK", "type": "main", "index": 0}],
        [{"node": "Format Ingest Error", "type": "main", "index": 0}]
      ]
    },
    "Format Ingest Error": {
      "main": [[{"node": "Discord Ingest Alert", "type": "main", "index": 0}]]
    },
    "Discord Ingest Alert": {
      "main": [[{"node": "Respond Ingest Error", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
