workflows/n8n/ris_sub_reddit.json
{
  "name": "RIS Sub: Reddit",
  "nodes": [
    {
      "id": "reddit-sticky",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, 160],
      "parameters": {
        "content": "## RIS Sub: Reddit Ingest\n**Schedule:** Every 6 hours\n**Command:** `research-scheduler run-job reddit_polymarket`\n\n**Flow:** Trigger -> Execute Command [continueOnFail] -> IF exit code 0\n- Success: Parse metrics\n- Failure: Format error -> Discord alert",
        "height": 180,
        "width": 400
      }
    },
    {
      "id": "reddit-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "parameters": {}
    },
    {
      "id": "reddit-schedule",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 560],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "reddit-exec",
      "name": "Run reddit_polymarket",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 480],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job reddit_polymarket"
      },
      "continueOnFail": true
    },
    {
      "id": "reddit-if",
      "name": "IF Exit Code OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 480],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "exitcode-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "reddit-parse",
      "name": "Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 360],
      "parameters": {
        "jsCode": "const stdout = $('Run reddit_polymarket').first().json.stdout || '';\nconst lines = stdout.split('\\n').filter(l => l.trim());\nconst timestamp = new Date().toISOString();\nreturn [{ json: { status: 'success', job: 'reddit_polymarket', stdout: stdout.substring(0, 1500), lineCount: lines.length, timestamp } }];"
      }
    },
    {
      "id": "reddit-success",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1280, 360],
      "parameters": {}
    },
    {
      "id": "reddit-format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 600],
      "parameters": {
        "jsCode": "const execNode = $('Run reddit_polymarket').first().json;\nconst stderr = (execNode.stderr || '').substring(0, 1500);\nconst stdout = (execNode.stdout || '');\nconst exitCode = execNode.exitCode;\nconst content = `**RIS Pipeline Error: reddit_polymarket**\\n\\nExit code: ${exitCode}\\n\\n**stderr:**\\n\\`\\`\\`\\n${stderr}\\n\\`\\`\\`\\n\\n**stdout (last 500 chars):**\\n\\`\\`\\`\\n${stdout.substring(stdout.length - 500)}\\n\\`\\`\\``;\nreturn [{ json: { content } }];"
      }
    },
    {
      "id": "reddit-discord",
      "name": "Discord Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 600],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.content }) }}"
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Run reddit_polymarket", "type": "main", "index": 0}]]
    },
    "Every 6 Hours": {
      "main": [[{"node": "Run reddit_polymarket", "type": "main", "index": 0}]]
    },
    "Run reddit_polymarket": {
      "main": [[{"node": "IF Exit Code OK", "type": "main", "index": 0}]]
    },
    "IF Exit Code OK": {
      "main": [
        [{"node": "Parse Metrics", "type": "main", "index": 0}],
        [{"node": "Format Error", "type": "main", "index": 0}]
      ]
    },
    "Parse Metrics": {
      "main": [[{"node": "Success", "type": "main", "index": 0}]]
    },
    "Format Error": {
      "main": [[{"node": "Discord Alert", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
