infra/n8n/workflows/ris-unified-dev.json
{
  "name": "RIS — Research Intelligence System",
  "nodes": [
    {
      "id": "s1-sticky",
      "name": "S1: Health Monitor - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        0
      ],
      "parameters": {
        "content": "## Section 1: Health Monitor -- Every 30 minutes\nChecks RIS health. Sends one compact operator alert only for RED or actionable YELLOW states.",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s1-schedule",
      "name": "Health: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        80
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s1-manual",
      "name": "Health: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        200
      ],
      "parameters": {}
    },
    {
      "id": "s1-run-health",
      "name": "Health: Run research-health",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        80
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-health --json"
      },
      "continueOnFail": true
    },
    {
      "id": "s1-run-stats",
      "name": "Health: Run research-stats",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        850,
        80
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-stats summary --json"
      },
      "continueOnFail": true
    },
    {
      "id": "s1-parse",
      "name": "Health: Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        80
      ],
      "parameters": {
        "jsCode": "function safeParse(raw) {\n  if (!raw) {\n    return null;\n  }\n  try {\n    return JSON.parse(raw);\n  } catch (error) {\n    return { __parseError: error.message };\n  }\n}\n\nconst healthExec = ($('Health: Run research-health').item.json || {});\nconst statsExec = ($('Health: Run research-stats').item.json || {});\nconst healthStdout = (healthExec.stdout || '').toString().trim();\nconst statsStdout = (statsExec.stdout || '').toString().trim();\nconst healthData = safeParse(healthStdout);\nconst statsData = safeParse(statsStdout);\nconst healthExitCode = Number(healthExec.exitCode || 0);\nconst statsExitCode = Number(statsExec.exitCode || 0);\n\n// Existing: actionable checks for alert routing\nconst actionableChecks = [];\nif (healthData && Array.isArray(healthData.checks)) {\n  for (const check of healthData.checks) {\n    const status = (check.status || '').toUpperCase();\n    const deferred = Boolean(check.data && check.data.deferred);\n    if (status === 'RED' || (status === 'YELLOW' && !deferred)) {\n      actionableChecks.push({\n        checkName: check.check_name,\n        status,\n        message: (check.message || '').replace(/\\s+/g, ' ').trim(),\n      });\n    }\n  }\n}\nif (healthData && healthData.__parseError) {\n  actionableChecks.push({ checkName: 'health_parse', status: 'RED', message: 'Unable to parse research-health JSON: ' + healthData.__parseError });\n}\nif (statsData && statsData.__parseError) {\n  actionableChecks.push({ checkName: 'stats_parse', status: 'RED', message: 'Unable to parse research-stats JSON: ' + statsData.__parseError });\n}\n\nconst derivedStatus = healthExitCode !== 0 || statsExitCode !== 0 || actionableChecks.some((c) => c.status === 'RED')\n  ? 'RED'\n  : actionableChecks.length > 0\n    ? 'YELLOW'\n    : (healthData && healthData.summary) || 'GREEN';\n\n// Existing: stats headline (preserved for Health: Format Alert compatibility)\nconst statsHeadline = statsData && !statsData.__parseError\n  ? {\n      totalDocs: Number(statsData.total_docs || 0),\n      totalClaims: Number(statsData.total_claims || 0),\n      acquisitionNew: Number(statsData.acquisition_new || 0),\n      acquisitionCached: Number(statsData.acquisition_cached || 0),\n      acquisitionErrors: Number(statsData.acquisition_errors || 0),\n      docsByFamily: statsData.docs_by_family || {},\n    }\n  : null;\n\n// WP3-C: overall_category from research-health\nconst overallCategory = (healthData && !healthData.__parseError)\n  ? (healthData.overall_category || 'no_data')\n  : 'no_data';\n\n// WP3-C: per-pipeline status derived from pipeline_failed check data\nconst KNOWN_PIPELINES = ['academic', 'reddit', 'blog', 'youtube', 'github', 'freshness'];\nconst runCount = Number((healthData && healthData.run_count) || 0);\nlet errorPipelines = [];\nlet blockedPipelines = [];\nif (healthData && Array.isArray(healthData.checks)) {\n  const pfCheck = healthData.checks.find((c) => c.check_name === 'pipeline_failed');\n  if (pfCheck && pfCheck.data) {\n    errorPipelines = Array.isArray(pfCheck.data.error_pipelines) ? pfCheck.data.error_pipelines : [];\n    blockedPipelines = Array.isArray(pfCheck.data.blocked_pipelines) ? pfCheck.data.blocked_pipelines : [];\n  }\n}\nconst pipelineStatuses = KNOWN_PIPELINES.map((name) => {\n  let status = 'ok';\n  let note = null;\n  if (runCount === 0) {\n    status = 'unknown';\n    note = 'no_run_data';\n  } else if (blockedPipelines.includes(name)) {\n    status = 'blocked';\n  } else if (errorPipelines.includes(name)) {\n    status = 'error';\n  }\n  return { pipeline: name, status, note };\n});\n\n// WP3-C: knowledge store summary\nconst knowledgeStore = statsData && !statsData.__parseError\n  ? {\n      totalDocs: Number(statsData.total_docs || 0),\n      totalClaims: Number(statsData.total_claims || 0),\n      docsByFamily: statsData.docs_by_family || {},\n      gateDistribution: statsData.gate_distribution || {},\n      dispositionDistribution: statsData.disposition_distribution || {},\n      recentNew: Number(statsData.acquisition_new || 0),\n      recentCached: Number(statsData.acquisition_cached || 0),\n    }\n  : null;\n\n// WP3-C: review queue\nconst rqRaw = (statsData && !statsData.__parseError && statsData.review_queue) || {};\nconst reviewQueue = {\n  queueDepth: Number(rqRaw.queue_depth || 0),\n  byStatus: rqRaw.by_status || {},\n  byGate: rqRaw.by_gate || {},\n};\n\n// WP3-C: provider routing summary\nconst rsRaw = (statsData && !statsData.__parseError && statsData.routing_summary) || {};\nconst prdRaw = (statsData && !statsData.__parseError && statsData.provider_route_distribution) || {};\nconst pfcRaw = (statsData && !statsData.__parseError && statsData.provider_failure_counts) || {};\nconst providerRouting = {\n  totalRouted: Number(rsRaw.total_routed || 0),\n  direct: Number(rsRaw.direct_count || 0),\n  escalated: Number(rsRaw.escalation_count || 0),\n  fallback: Number(rsRaw.fallback_count || 0),\n  byProvider: prdRaw,\n  failureCounts: pfcRaw,\n};\n\n// WP3-C: compact operator summary text (table-like for n8n execution panel)\nconst statusIcon = (s) => s === 'ok' ? '\\u2705' : s === 'error' ? '\\u274c' : s === 'blocked' ? '\\U0001f6ab' : '\\u2753';\nconst pipelineLines = pipelineStatuses.map((p) => statusIcon(p.status) + ' ' + p.pipeline + (p.note ? ' (' + p.note + ')' : '')).join(' | ');\nconst ksLine = knowledgeStore\n  ? 'docs=' + knowledgeStore.totalDocs + ' claims=' + knowledgeStore.totalClaims + ' new=' + knowledgeStore.recentNew\n  : 'stats_unavailable';\nconst rqLine = 'queue=' + reviewQueue.queueDepth;\nconst routeLine = providerRouting.totalRouted > 0\n  ? 'routed=' + providerRouting.totalRouted + ' direct=' + providerRouting.direct + ' esc=' + providerRouting.escalated + ' fb=' + providerRouting.fallback\n  : 'no_routing_data';\nconst operatorSummary = [\n  'Status: ' + derivedStatus + ' (' + overallCategory + ')',\n  'Pipelines: ' + pipelineLines,\n  'KS: ' + ksLine,\n  'Queue: ' + rqLine,\n  'Routing: ' + routeLine,\n].join('\\n');\n\nreturn [{\n  json: {\n    shouldAlert: derivedStatus === 'RED' || actionableChecks.length > 0,\n    overallStatus: derivedStatus,\n    overallCategory,\n    runCount,\n    actionableChecks,\n    statsHeadline,\n    pipelineStatuses,\n    knowledgeStore,\n    reviewQueue,\n    providerRouting,\n    operatorSummary,\n    healthExitCode,\n    statsExitCode,\n    healthStdout: healthStdout.substring(0, 1200),\n    statsStdout: statsStdout.substring(0, 800),\n    healthStderr: (healthExec.stderr || '').toString().substring(0, 500),\n    statsStderr: (statsExec.stderr || '').toString().substring(0, 500),\n    timestamp: new Date().toISOString(),\n  },\n}];"
      }
    },
    {
      "id": "s1-if-red",
      "name": "Health: Alert Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1450,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s1-alert-check",
              "leftValue": "={{ $json.shouldAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s1-format-alert",
      "name": "Health: Format Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        20
      ],
      "parameters": {
        "jsCode": "const data = $('Health: Parse Output').item.json;\nconst RED = 16711680;\nconst YELLOW = 16744448;\n\n// Embed color from overall status (RED or YELLOW — health alerts only fire on degraded states)\nconst color = data.overallStatus === 'RED' ? RED : YELLOW;\n\n// Description: check count + overallCategory if known (overallCategory added in WP3-C)\nlet description;\nif (data.actionableChecks && data.actionableChecks.length === 1) {\n  description = data.actionableChecks[0].checkName + ' detected';\n} else if (data.actionableChecks && data.actionableChecks.length > 1) {\n  description = data.actionableChecks.length + ' checks need attention';\n} else {\n  description = data.overallStatus;\n}\nif (data.overallCategory && data.overallCategory !== 'no_data') {\n  description = description + ' (' + data.overallCategory + ')';\n}\n\nconst fields = [];\n\n// WP3-D: per-pipeline status row using pipelineStatuses (added in WP3-C)\nif (Array.isArray(data.pipelineStatuses) && data.pipelineStatuses.length > 0) {\n  const STATUS_ICONS = { ok: '✅', error: '❌', blocked: '⚠️', unknown: '❓' };\n  const pipelineRow = data.pipelineStatuses.map(function(p) {\n    return (STATUS_ICONS[p.status] || '❓') + ' ' + p.pipeline;\n  }).join('  ');\n  fields.push({ name: 'Pipelines', value: pipelineRow, inline: false });\n}\n\n// WP3-D: compact knowledge store summary using knowledgeStore (added in WP3-C)\nconst ks = data.knowledgeStore;\nif (ks && ks.totalDocs != null) {\n  fields.push({\n    name: 'Knowledge Store',\n    value: 'docs=' + ks.totalDocs + '  claims=' + ks.totalClaims + '  new=' + ks.recentNew,\n    inline: false\n  });\n} else {\n  // Fallback to statsHeadline for pre-WP3-C compatibility\n  const stats = data.statsHeadline || {};\n  if (stats.totalDocs != null) {\n    fields.push({ name: 'Docs', value: String(stats.totalDocs), inline: true });\n    fields.push({ name: 'New', value: String(stats.acquisitionNew != null ? stats.acquisitionNew : 0), inline: true });\n  }\n}\n\n// WP3-D: review queue depth using reviewQueue (added in WP3-C)\nconst rq = data.reviewQueue;\nif (rq && rq.queueDepth != null) {\n  fields.push({ name: 'Review Queue', value: String(rq.queueDepth) + ' pending', inline: true });\n}\n\n// Existing: run count\nif (data.runCount != null) {\n  fields.push({ name: 'Runs', value: String(data.runCount), inline: true });\n}\n\n// Existing: actionable checks (up to 3, truncated to Discord field limit)\nif (data.actionableChecks && data.actionableChecks.length > 0) {\n  const checkLines = data.actionableChecks.slice(0, 3).map(function(c) {\n    return (c.status === 'RED' ? '[RED]' : '[YLW]') + ' ' + c.checkName + ': ' + c.message.substring(0, 80);\n  }).join('\\n');\n  const suffix = data.actionableChecks.length > 3 ? '\\n+' + (data.actionableChecks.length - 3) + ' more' : '';\n  fields.push({ name: 'Actionable Checks', value: (checkLines + suffix).substring(0, 300), inline: false });\n}\n\n// Existing: command exit codes if non-zero\nif (data.healthExitCode !== 0 || data.statsExitCode !== 0) {\n  fields.push({ name: 'Command Exit', value: 'health=' + data.healthExitCode + ', stats=' + data.statsExitCode, inline: false });\n}\n\nconst embed = {\n  title: 'RIS Health: ' + data.overallStatus,\n  description: description,\n  color: color,\n  fields: fields,\n  footer: { text: 'RIS | health' },\n  timestamp: new Date().toISOString(),\n};\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled } }];"
      }
    },
    {
      "id": "s1-ok",
      "name": "Health: OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1700,
        180
      ],
      "parameters": {}
    },
    {
      "id": "s2-sticky",
      "name": "S2: Academic - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        350
      ],
      "parameters": {
        "content": "## Section 2: Academic Pipeline -- Every 12h",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s2-schedule",
      "name": "Academic: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        430
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s2-manual",
      "name": "Academic: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        550
      ],
      "parameters": {}
    },
    {
      "id": "s2-run",
      "name": "Academic: Run Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        490
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job academic_ingest 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s2-if",
      "name": "Academic: Exit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        490
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s2-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s2-parse",
      "name": "Academic: Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        410
      ],
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').toString();\nconst lines = stdout.split('\\n');\nconst timestamp = new Date().toISOString();\nconst exitCode = Number($json.exitCode || 0);\nlet docs_accepted = 0;\nlet docs_rejected = 0;\nconst errors = [];\nfor (const line of lines) {\n  const t = line.trim();\n  if (!t) continue;\n  if (/^Acquired:/i.test(t)) {\n    docs_accepted++;\n  } else if (/^Rejected[\\s|:]/i.test(t)) {\n    docs_rejected++;\n  } else if (/^Error:/i.test(t) || /^Warning:/i.test(t)) {\n    errors.push(t.substring(0, 200));\n  }\n}\nif (docs_accepted === 0 && docs_rejected === 0) {\n  let sa = 0, st = 0;\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    sa += parseInt(m[1], 10);\n    st += parseInt(m[2], 10);\n  }\n  if (st > 0) { docs_accepted = sa; docs_rejected = st - sa; }\n}\nif (exitCode !== 0) errors.push('exit_code=' + exitCode);\nconst docs_fetched = docs_accepted + docs_rejected;\nconst statusLabel = errors.length > 0 ? '⚠️ Academic: ' + docs_accepted + ' docs | ' + errors.length + ' warning(s)' : '✅ Academic: ' + docs_accepted + ' docs ingested';\nreturn [{ json: { pipeline: 'academic', docs_fetched, docs_evaluated: docs_fetched, docs_accepted, docs_rejected, docs_review: 0, new_claims: 0, duration_seconds: null, errors, exit_code: exitCode, timestamp, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s2-done",
      "name": "Academic: Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        410
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "43ed09b8",
              "name": "section",
              "value": "Academic",
              "type": "string"
            },
            {
              "id": "8e6ee39d",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "a1b2c3d4",
              "name": "status_label",
              "value": "={{ $json.status_label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "s2-format-err",
      "name": "Academic: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        570
      ],
      "parameters": {
        "jsCode": "const execNode = $json || {};\nconst stderrRaw = (execNode.stderr || '').toString().trim().substring(0, 300);\nconst stdout = (execNode.stdout || '').toString();\nconst stdoutTail = (stdout.length > 200 ? stdout.substring(stdout.length - 200) : stdout).trim();\nconst exitCode = execNode.exitCode;\n\n// WP3-D: partial parse — extract accepted/rejected counts even in error path\nlet partialAccepted = 0, partialRejected = 0;\nstdout.split('\\n').forEach(function(line) {\n  const t = line.trim();\n  if (/^Acquired:/i.test(t)) { partialAccepted++; }\n  else if (/^Rejected[\\s|:]/i.test(t)) { partialRejected++; }\n});\nif (partialAccepted === 0 && partialRejected === 0) {\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    partialAccepted += parseInt(m[1], 10);\n    partialRejected += parseInt(m[2], 10) - parseInt(m[1], 10);\n  }\n}\nconst hasPartial = partialAccepted > 0 || partialRejected > 0;\nconst description = 'Exit ' + exitCode + (hasPartial ? ' — partial: ' + partialAccepted + ' accepted, ' + partialRejected + ' rejected' : '');\n\nconst embed = {\n  title: 'Pipeline Error: Academic',\n  description: description,\n  color: 16711680,\n  fields: [],\n  footer: { text: 'RIS | academic' },\n  timestamp: new Date().toISOString(),\n};\nif (stderrRaw.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderrRaw, inline: false });\n}\nif (stdoutTail.length > 0) {\n  embed.fields.push({ name: 'Last Output', value: stdoutTail, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nconst statusLabel = '❌ Academic: exit ' + exitCode + (stderrRaw.length > 0 ? ' | ' + stderrRaw.substring(0, 60) : '');\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s3-sticky",
      "name": "S3: Reddit - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        700
      ],
      "parameters": {
        "content": "## Section 3: Reddit Pipeline -- Every 6h",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s3-schedule",
      "name": "Reddit: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        780
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s3-manual",
      "name": "Reddit: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        900
      ],
      "parameters": {}
    },
    {
      "id": "s3-run",
      "name": "Reddit: Run Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        840
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job reddit_polymarket 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s3-if",
      "name": "Reddit: Exit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        840
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s3-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s3-parse",
      "name": "Reddit: Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        760
      ],
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').toString();\nconst lines = stdout.split('\\n');\nconst timestamp = new Date().toISOString();\nconst exitCode = Number($json.exitCode || 0);\nlet docs_accepted = 0;\nlet docs_rejected = 0;\nconst errors = [];\nfor (const line of lines) {\n  const t = line.trim();\n  if (!t) continue;\n  if (/^Acquired:/i.test(t)) {\n    docs_accepted++;\n  } else if (/^Rejected[\\s|:]/i.test(t)) {\n    docs_rejected++;\n  } else if (/^Error:/i.test(t) || /^Warning:/i.test(t)) {\n    errors.push(t.substring(0, 200));\n  }\n}\nif (docs_accepted === 0 && docs_rejected === 0) {\n  let sa = 0, st = 0;\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    sa += parseInt(m[1], 10);\n    st += parseInt(m[2], 10);\n  }\n  if (st > 0) { docs_accepted = sa; docs_rejected = st - sa; }\n}\nif (exitCode !== 0) errors.push('exit_code=' + exitCode);\nconst docs_fetched = docs_accepted + docs_rejected;\nconst statusLabel = errors.length > 0 ? '⚠️ Reddit: ' + docs_accepted + ' docs | ' + errors.length + ' warning(s)' : '✅ Reddit: ' + docs_accepted + ' docs ingested';\nreturn [{ json: { pipeline: 'reddit', docs_fetched, docs_evaluated: docs_fetched, docs_accepted, docs_rejected, docs_review: 0, new_claims: 0, duration_seconds: null, errors, exit_code: exitCode, timestamp, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s3-done",
      "name": "Reddit: Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        760
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "4283c249",
              "name": "section",
              "value": "Reddit",
              "type": "string"
            },
            {
              "id": "c0451e4d",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "b2c3d4e5",
              "name": "status_label",
              "value": "={{ $json.status_label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "s3-format-err",
      "name": "Reddit: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        920
      ],
      "parameters": {
        "jsCode": "const execNode = $json || {};\nconst stderrRaw = (execNode.stderr || '').toString().trim().substring(0, 300);\nconst stdout = (execNode.stdout || '').toString();\nconst stdoutTail = (stdout.length > 200 ? stdout.substring(stdout.length - 200) : stdout).trim();\nconst exitCode = execNode.exitCode;\n\n// WP3-D: partial parse — extract accepted/rejected counts even in error path\nlet partialAccepted = 0, partialRejected = 0;\nstdout.split('\\n').forEach(function(line) {\n  const t = line.trim();\n  if (/^Acquired:/i.test(t)) { partialAccepted++; }\n  else if (/^Rejected[\\s|:]/i.test(t)) { partialRejected++; }\n});\nif (partialAccepted === 0 && partialRejected === 0) {\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    partialAccepted += parseInt(m[1], 10);\n    partialRejected += parseInt(m[2], 10) - parseInt(m[1], 10);\n  }\n}\nconst hasPartial = partialAccepted > 0 || partialRejected > 0;\nconst description = 'Exit ' + exitCode + (hasPartial ? ' — partial: ' + partialAccepted + ' accepted, ' + partialRejected + ' rejected' : '');\n\nconst embed = {\n  title: 'Pipeline Error: Reddit',\n  description: description,\n  color: 16711680,\n  fields: [],\n  footer: { text: 'RIS | reddit' },\n  timestamp: new Date().toISOString(),\n};\nif (stderrRaw.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderrRaw, inline: false });\n}\nif (stdoutTail.length > 0) {\n  embed.fields.push({ name: 'Last Output', value: stdoutTail, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nconst statusLabel = '❌ Reddit: exit ' + exitCode + (stderrRaw.length > 0 ? ' | ' + stderrRaw.substring(0, 60) : '');\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s4-sticky",
      "name": "S4: Blog - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        1050
      ],
      "parameters": {
        "content": "## Section 4: Blog Pipeline -- Every 4h",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s4-schedule",
      "name": "Blog: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        1130
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s4-manual",
      "name": "Blog: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        1250
      ],
      "parameters": {}
    },
    {
      "id": "s4-run",
      "name": "Blog: Run Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        1190
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job blog_ingest 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s4-if",
      "name": "Blog: Exit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        1190
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s4-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s4-parse",
      "name": "Blog: Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1110
      ],
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').toString();\nconst lines = stdout.split('\\n');\nconst timestamp = new Date().toISOString();\nconst exitCode = Number($json.exitCode || 0);\nlet docs_accepted = 0;\nlet docs_rejected = 0;\nconst errors = [];\nfor (const line of lines) {\n  const t = line.trim();\n  if (!t) continue;\n  if (/^Acquired:/i.test(t)) {\n    docs_accepted++;\n  } else if (/^Rejected[\\s|:]/i.test(t)) {\n    docs_rejected++;\n  } else if (/^Error:/i.test(t) || /^Warning:/i.test(t)) {\n    errors.push(t.substring(0, 200));\n  }\n}\nif (docs_accepted === 0 && docs_rejected === 0) {\n  let sa = 0, st = 0;\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    sa += parseInt(m[1], 10);\n    st += parseInt(m[2], 10);\n  }\n  if (st > 0) { docs_accepted = sa; docs_rejected = st - sa; }\n}\nif (exitCode !== 0) errors.push('exit_code=' + exitCode);\nconst docs_fetched = docs_accepted + docs_rejected;\nconst statusLabel = errors.length > 0 ? '⚠️ Blog: ' + docs_accepted + ' docs | ' + errors.length + ' warning(s)' : '✅ Blog: ' + docs_accepted + ' docs ingested';\nreturn [{ json: { pipeline: 'blog', docs_fetched, docs_evaluated: docs_fetched, docs_accepted, docs_rejected, docs_review: 0, new_claims: 0, duration_seconds: null, errors, exit_code: exitCode, timestamp, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s4-done",
      "name": "Blog: Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        1110
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "1bf070b6",
              "name": "section",
              "value": "Blog",
              "type": "string"
            },
            {
              "id": "b282c55d",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "c3d4e5f6",
              "name": "status_label",
              "value": "={{ $json.status_label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "s4-format-err",
      "name": "Blog: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1270
      ],
      "parameters": {
        "jsCode": "const execNode = $json || {};\nconst stderrRaw = (execNode.stderr || '').toString().trim().substring(0, 300);\nconst stdout = (execNode.stdout || '').toString();\nconst stdoutTail = (stdout.length > 200 ? stdout.substring(stdout.length - 200) : stdout).trim();\nconst exitCode = execNode.exitCode;\n\n// WP3-D: partial parse — extract accepted/rejected counts even in error path\nlet partialAccepted = 0, partialRejected = 0;\nstdout.split('\\n').forEach(function(line) {\n  const t = line.trim();\n  if (/^Acquired:/i.test(t)) { partialAccepted++; }\n  else if (/^Rejected[\\s|:]/i.test(t)) { partialRejected++; }\n});\nif (partialAccepted === 0 && partialRejected === 0) {\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    partialAccepted += parseInt(m[1], 10);\n    partialRejected += parseInt(m[2], 10) - parseInt(m[1], 10);\n  }\n}\nconst hasPartial = partialAccepted > 0 || partialRejected > 0;\nconst description = 'Exit ' + exitCode + (hasPartial ? ' — partial: ' + partialAccepted + ' accepted, ' + partialRejected + ' rejected' : '');\n\nconst embed = {\n  title: 'Pipeline Error: Blog',\n  description: description,\n  color: 16711680,\n  fields: [],\n  footer: { text: 'RIS | blog' },\n  timestamp: new Date().toISOString(),\n};\nif (stderrRaw.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderrRaw, inline: false });\n}\nif (stdoutTail.length > 0) {\n  embed.fields.push({ name: 'Last Output', value: stdoutTail, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nconst statusLabel = '❌ Blog: exit ' + exitCode + (stderrRaw.length > 0 ? ' | ' + stderrRaw.substring(0, 60) : '');\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s5-sticky",
      "name": "S5: YouTube - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        1400
      ],
      "parameters": {
        "content": "## Section 5: YouTube Pipeline -- Weekly Mon 04:00 UTC",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s5-schedule",
      "name": "YouTube: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        1480
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 4 * * 1"
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s5-manual",
      "name": "YouTube: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        1600
      ],
      "parameters": {}
    },
    {
      "id": "s5-run",
      "name": "YouTube: Run Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        1540
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job youtube_ingest 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s5-if",
      "name": "YouTube: Exit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        1540
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s5-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s5-parse",
      "name": "YouTube: Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1460
      ],
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').toString();\nconst lines = stdout.split('\\n');\nconst timestamp = new Date().toISOString();\nconst exitCode = Number($json.exitCode || 0);\nlet docs_accepted = 0;\nlet docs_rejected = 0;\nconst errors = [];\nfor (const line of lines) {\n  const t = line.trim();\n  if (!t) continue;\n  if (/^Acquired:/i.test(t)) {\n    docs_accepted++;\n  } else if (/^Rejected[\\s|:]/i.test(t)) {\n    docs_rejected++;\n  } else if (/^Error:/i.test(t) || /^Warning:/i.test(t)) {\n    errors.push(t.substring(0, 200));\n  }\n}\nif (docs_accepted === 0 && docs_rejected === 0) {\n  let sa = 0, st = 0;\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    sa += parseInt(m[1], 10);\n    st += parseInt(m[2], 10);\n  }\n  if (st > 0) { docs_accepted = sa; docs_rejected = st - sa; }\n}\nif (exitCode !== 0) errors.push('exit_code=' + exitCode);\nconst docs_fetched = docs_accepted + docs_rejected;\nconst statusLabel = errors.length > 0 ? '⚠️ YouTube: ' + docs_accepted + ' docs | ' + errors.length + ' warning(s)' : '✅ YouTube: ' + docs_accepted + ' docs ingested';\nreturn [{ json: { pipeline: 'youtube', docs_fetched, docs_evaluated: docs_fetched, docs_accepted, docs_rejected, docs_review: 0, new_claims: 0, duration_seconds: null, errors, exit_code: exitCode, timestamp, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s5-done",
      "name": "YouTube: Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        1460
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "572ca22c",
              "name": "section",
              "value": "YouTube",
              "type": "string"
            },
            {
              "id": "9a27c004",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "d4e5f6a7",
              "name": "status_label",
              "value": "={{ $json.status_label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "s5-format-err",
      "name": "YouTube: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1620
      ],
      "parameters": {
        "jsCode": "const execNode = $json || {};\nconst stderrRaw = (execNode.stderr || '').toString().trim().substring(0, 300);\nconst stdout = (execNode.stdout || '').toString();\nconst stdoutTail = (stdout.length > 200 ? stdout.substring(stdout.length - 200) : stdout).trim();\nconst exitCode = execNode.exitCode;\n\n// WP3-D: partial parse — extract accepted/rejected counts even in error path\nlet partialAccepted = 0, partialRejected = 0;\nstdout.split('\\n').forEach(function(line) {\n  const t = line.trim();\n  if (/^Acquired:/i.test(t)) { partialAccepted++; }\n  else if (/^Rejected[\\s|:]/i.test(t)) { partialRejected++; }\n});\nif (partialAccepted === 0 && partialRejected === 0) {\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    partialAccepted += parseInt(m[1], 10);\n    partialRejected += parseInt(m[2], 10) - parseInt(m[1], 10);\n  }\n}\nconst hasPartial = partialAccepted > 0 || partialRejected > 0;\nconst description = 'Exit ' + exitCode + (hasPartial ? ' — partial: ' + partialAccepted + ' accepted, ' + partialRejected + ' rejected' : '');\n\nconst embed = {\n  title: 'Pipeline Error: YouTube',\n  description: description,\n  color: 16711680,\n  fields: [],\n  footer: { text: 'RIS | youtube' },\n  timestamp: new Date().toISOString(),\n};\nif (stderrRaw.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderrRaw, inline: false });\n}\nif (stdoutTail.length > 0) {\n  embed.fields.push({ name: 'Last Output', value: stdoutTail, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nconst statusLabel = '❌ YouTube: exit ' + exitCode + (stderrRaw.length > 0 ? ' | ' + stderrRaw.substring(0, 60) : '');\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s6-sticky",
      "name": "S6: GitHub - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        1750
      ],
      "parameters": {
        "content": "## Section 6: GitHub Pipeline -- Weekly Wed 04:00 UTC",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s6-schedule",
      "name": "GitHub: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        1830
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 4 * * 3"
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s6-manual",
      "name": "GitHub: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        1950
      ],
      "parameters": {}
    },
    {
      "id": "s6-run",
      "name": "GitHub: Run Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        1890
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job github_ingest 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s6-if",
      "name": "GitHub: Exit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        1890
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s6-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s6-parse",
      "name": "GitHub: Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1810
      ],
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').toString();\nconst lines = stdout.split('\\n');\nconst timestamp = new Date().toISOString();\nconst exitCode = Number($json.exitCode || 0);\nlet docs_accepted = 0;\nlet docs_rejected = 0;\nconst errors = [];\nfor (const line of lines) {\n  const t = line.trim();\n  if (!t) continue;\n  if (/^Acquired:/i.test(t)) {\n    docs_accepted++;\n  } else if (/^Rejected[\\s|:]/i.test(t)) {\n    docs_rejected++;\n  } else if (/^Error:/i.test(t) || /^Warning:/i.test(t)) {\n    errors.push(t.substring(0, 200));\n  }\n}\nif (docs_accepted === 0 && docs_rejected === 0) {\n  let sa = 0, st = 0;\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    sa += parseInt(m[1], 10);\n    st += parseInt(m[2], 10);\n  }\n  if (st > 0) { docs_accepted = sa; docs_rejected = st - sa; }\n}\nif (exitCode !== 0) errors.push('exit_code=' + exitCode);\nconst docs_fetched = docs_accepted + docs_rejected;\nconst statusLabel = errors.length > 0 ? '⚠️ GitHub: ' + docs_accepted + ' docs | ' + errors.length + ' warning(s)' : '✅ GitHub: ' + docs_accepted + ' docs ingested';\nreturn [{ json: { pipeline: 'github', docs_fetched, docs_evaluated: docs_fetched, docs_accepted, docs_rejected, docs_review: 0, new_claims: 0, duration_seconds: null, errors, exit_code: exitCode, timestamp, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s6-done",
      "name": "GitHub: Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        1810
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "81dc3c48",
              "name": "section",
              "value": "GitHub",
              "type": "string"
            },
            {
              "id": "6e9d9ad4",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "e5f6a7b8",
              "name": "status_label",
              "value": "={{ $json.status_label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "s6-format-err",
      "name": "GitHub: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        1970
      ],
      "parameters": {
        "jsCode": "const execNode = $json || {};\nconst stderrRaw = (execNode.stderr || '').toString().trim().substring(0, 300);\nconst stdout = (execNode.stdout || '').toString();\nconst stdoutTail = (stdout.length > 200 ? stdout.substring(stdout.length - 200) : stdout).trim();\nconst exitCode = execNode.exitCode;\n\n// WP3-D: partial parse — extract accepted/rejected counts even in error path\nlet partialAccepted = 0, partialRejected = 0;\nstdout.split('\\n').forEach(function(line) {\n  const t = line.trim();\n  if (/^Acquired:/i.test(t)) { partialAccepted++; }\n  else if (/^Rejected[\\s|:]/i.test(t)) { partialRejected++; }\n});\nif (partialAccepted === 0 && partialRejected === 0) {\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    partialAccepted += parseInt(m[1], 10);\n    partialRejected += parseInt(m[2], 10) - parseInt(m[1], 10);\n  }\n}\nconst hasPartial = partialAccepted > 0 || partialRejected > 0;\nconst description = 'Exit ' + exitCode + (hasPartial ? ' — partial: ' + partialAccepted + ' accepted, ' + partialRejected + ' rejected' : '');\n\nconst embed = {\n  title: 'Pipeline Error: GitHub',\n  description: description,\n  color: 16711680,\n  fields: [],\n  footer: { text: 'RIS | github' },\n  timestamp: new Date().toISOString(),\n};\nif (stderrRaw.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderrRaw, inline: false });\n}\nif (stdoutTail.length > 0) {\n  embed.fields.push({ name: 'Last Output', value: stdoutTail, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nconst statusLabel = '❌ GitHub: exit ' + exitCode + (stderrRaw.length > 0 ? ' | ' + stderrRaw.substring(0, 60) : '');\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s7-sticky",
      "name": "S7: Freshness - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        2100
      ],
      "parameters": {
        "content": "## Section 7: Freshness Pipeline -- Weekly Sun 02:00 UTC",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s7-schedule",
      "name": "Freshness: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        2180
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * 0"
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s7-manual",
      "name": "Freshness: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        2300
      ],
      "parameters": {}
    },
    {
      "id": "s7-run",
      "name": "Freshness: Run Job",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        2240
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-scheduler run-job freshness_refresh 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s7-if",
      "name": "Freshness: Exit OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        2240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s7-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s7-parse",
      "name": "Freshness: Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        2160
      ],
      "parameters": {
        "jsCode": "const stdout = ($json.stdout || '').toString();\nconst lines = stdout.split('\\n');\nconst timestamp = new Date().toISOString();\nconst exitCode = Number($json.exitCode || 0);\nlet docs_accepted = 0;\nlet docs_rejected = 0;\nconst errors = [];\nfor (const line of lines) {\n  const t = line.trim();\n  if (!t) continue;\n  if (/^Acquired:/i.test(t)) {\n    docs_accepted++;\n  } else if (/^Rejected[\\s|:]/i.test(t)) {\n    docs_rejected++;\n  } else if (/^Error:/i.test(t) || /^Warning:/i.test(t)) {\n    errors.push(t.substring(0, 200));\n  }\n}\nif (docs_accepted === 0 && docs_rejected === 0) {\n  let sa = 0, st = 0;\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    sa += parseInt(m[1], 10);\n    st += parseInt(m[2], 10);\n  }\n  if (st > 0) { docs_accepted = sa; docs_rejected = st - sa; }\n}\nif (exitCode !== 0) errors.push('exit_code=' + exitCode);\nconst docs_fetched = docs_accepted + docs_rejected;\nconst statusLabel = errors.length > 0 ? '⚠️ Freshness: ' + docs_accepted + ' docs | ' + errors.length + ' warning(s)' : '✅ Freshness: ' + docs_accepted + ' docs ingested';\nreturn [{ json: { pipeline: 'freshness', docs_fetched, docs_evaluated: docs_fetched, docs_accepted, docs_rejected, docs_review: 0, new_claims: 0, duration_seconds: null, errors, exit_code: exitCode, timestamp, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s7-done",
      "name": "Freshness: Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1450,
        2160
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "8e5097f9",
              "name": "section",
              "value": "Freshness",
              "type": "string"
            },
            {
              "id": "a7232067",
              "name": "status",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "f6a7b8c9",
              "name": "status_label",
              "value": "={{ $json.status_label }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "s7-format-err",
      "name": "Freshness: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        2320
      ],
      "parameters": {
        "jsCode": "const execNode = $json || {};\nconst stderrRaw = (execNode.stderr || '').toString().trim().substring(0, 300);\nconst stdout = (execNode.stdout || '').toString();\nconst stdoutTail = (stdout.length > 200 ? stdout.substring(stdout.length - 200) : stdout).trim();\nconst exitCode = execNode.exitCode;\n\n// WP3-D: partial parse — extract accepted/rejected counts even in error path\nlet partialAccepted = 0, partialRejected = 0;\nstdout.split('\\n').forEach(function(line) {\n  const t = line.trim();\n  if (/^Acquired:/i.test(t)) { partialAccepted++; }\n  else if (/^Rejected[\\s|:]/i.test(t)) { partialRejected++; }\n});\nif (partialAccepted === 0 && partialRejected === 0) {\n  const re = /Search complete: (\\d+)\\/(\\d+) papers ingested/gi;\n  let m;\n  while ((m = re.exec(stdout)) !== null) {\n    partialAccepted += parseInt(m[1], 10);\n    partialRejected += parseInt(m[2], 10) - parseInt(m[1], 10);\n  }\n}\nconst hasPartial = partialAccepted > 0 || partialRejected > 0;\nconst description = 'Exit ' + exitCode + (hasPartial ? ' — partial: ' + partialAccepted + ' accepted, ' + partialRejected + ' rejected' : '');\n\nconst embed = {\n  title: 'Pipeline Error: Freshness',\n  description: description,\n  color: 16711680,\n  fields: [],\n  footer: { text: 'RIS | freshness' },\n  timestamp: new Date().toISOString(),\n};\nif (stderrRaw.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderrRaw, inline: false });\n}\nif (stdoutTail.length > 0) {\n  embed.fields.push({ name: 'Last Output', value: stdoutTail, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nconst statusLabel = '❌ Freshness: exit ' + exitCode + (stderrRaw.length > 0 ? ' | ' + stderrRaw.substring(0, 60) : '');\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled, status_label: statusLabel } }];"
      }
    },
    {
      "id": "s8-sticky",
      "name": "S8: Summary - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        2450
      ],
      "parameters": {
        "content": "## Section 8: Daily Summary -- 09:00 UTC (disabled by default)\nRuns RIS health + stats, then sends one compact operator summary when a webhook is configured.",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s8-schedule",
      "name": "Summary: Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        2530
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * *"
            }
          ]
        }
      },
      "disabled": true
    },
    {
      "id": "s8-manual",
      "name": "Summary: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        2650
      ],
      "parameters": {}
    },
    {
      "id": "s8-run-report",
      "name": "Summary: Run research-health",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        2590
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-health --json"
      },
      "continueOnFail": true
    },
    {
      "id": "s8-if",
      "name": "Summary: Health OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        2590
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s8-health-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s8-run-stats",
      "name": "Summary: Run research-stats",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1150,
        2510
      ],
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-stats summary --json"
      },
      "continueOnFail": true
    },
    {
      "id": "s8-parse",
      "name": "Summary: Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        2510
      ],
      "parameters": {
        "jsCode": "function safeParse(raw) {\n  if (!raw) return null;\n  try { return JSON.parse(raw); } catch (e) { return { __parseError: e.message }; }\n}\n\nconst healthExec = $('Summary: Run research-health').item.json || {};\nconst statsExec = $('Summary: Run research-stats').item.json || {};\nconst healthStdout = (healthExec.stdout || '').toString().trim();\nconst statsStdout = (statsExec.stdout || '').toString().trim();\nconst healthData = safeParse(healthStdout);\nconst statsData = safeParse(statsStdout);\n\n// WP3-C: actionable checks\nconst actionableChecks = [];\nif (healthData && Array.isArray(healthData.checks)) {\n  for (const check of healthData.checks) {\n    const status = (check.status || '').toUpperCase();\n    const deferred = Boolean(check.data && check.data.deferred);\n    if (status === 'RED' || (status === 'YELLOW' && !deferred)) {\n      actionableChecks.push({\n        checkName: check.check_name,\n        status,\n        message: (check.message || '').replace(/\\s+/g, ' ').trim(),\n      });\n    }\n  }\n}\nif (healthData && healthData.__parseError) {\n  actionableChecks.push({ checkName: 'health_parse', status: 'RED', message: 'Unable to parse research-health: ' + healthData.__parseError });\n}\nif (statsData && statsData.__parseError) {\n  actionableChecks.push({ checkName: 'stats_parse', status: 'RED', message: 'Unable to parse research-stats: ' + statsData.__parseError });\n}\n\n// WP3-C: overall category + derived status\nconst overallCategory = (healthData && !healthData.__parseError)\n  ? (healthData.overall_category || 'no_data')\n  : 'no_data';\nconst derivedStatus = actionableChecks.some(c => c.status === 'RED')\n  ? 'RED'\n  : actionableChecks.length > 0\n    ? 'YELLOW'\n    : (healthData && healthData.summary) || 'HEALTHY';\n\n// WP3-C: per-pipeline statuses\nconst KNOWN_PIPELINES = ['academic', 'reddit', 'blog', 'youtube', 'github', 'freshness'];\nconst runCount = Number((healthData && healthData.run_count) || 0);\nlet errorPipelines = [], blockedPipelines = [];\nif (healthData && Array.isArray(healthData.checks)) {\n  const pfCheck = healthData.checks.find(c => c.check_name === 'pipeline_failed');\n  if (pfCheck && pfCheck.data) {\n    errorPipelines = Array.isArray(pfCheck.data.error_pipelines) ? pfCheck.data.error_pipelines : [];\n    blockedPipelines = Array.isArray(pfCheck.data.blocked_pipelines) ? pfCheck.data.blocked_pipelines : [];\n  }\n}\nconst STATUS_ICONS = { ok: '✅', error: '❌', blocked: '⚠️', unknown: '❓' };\nconst pipelineStatuses = KNOWN_PIPELINES.map(name => ({\n  pipeline: name,\n  status: runCount === 0 ? 'unknown' : blockedPipelines.includes(name) ? 'blocked' : errorPipelines.includes(name) ? 'error' : 'ok',\n}));\nconst pipelineRow = pipelineStatuses.map(p => (STATUS_ICONS[p.status] || '❓') + ' ' + p.pipeline).join('  ');\n\n// WP3-C: knowledge store\nconst knowledgeStore = statsData && !statsData.__parseError\n  ? {\n      totalDocs: Number(statsData.total_docs || 0),\n      totalClaims: Number(statsData.total_claims || 0),\n      recentNew: Number(statsData.acquisition_new || 0),\n      docsByFamily: statsData.docs_by_family || {},\n    }\n  : null;\n\n// WP3-C: review queue\nconst rqRaw = (statsData && !statsData.__parseError && statsData.review_queue) || {};\nconst reviewQueueDepth = Number(rqRaw.queue_depth || 0);\n\n// WP3-C: provider routing summary\nconst rsRaw = (statsData && !statsData.__parseError && statsData.routing_summary) || {};\nconst providerRouting = {\n  totalRouted: Number(rsRaw.total_routed || 0),\n  escalated: Number(rsRaw.escalation_count || 0),\n  fallback: Number(rsRaw.fallback_count || 0),\n};\n\n// Build digest embed (always sends -- no alert gate on this path)\nconst GREEN = 3066993;\nconst YELLOW = 16744448;\nconst RED = 16711680;\nconst color = derivedStatus === 'RED' ? RED : actionableChecks.length > 0 ? YELLOW : GREEN;\n\nconst ksValue = knowledgeStore\n  ? 'docs=' + knowledgeStore.totalDocs + '  claims=' + knowledgeStore.totalClaims + '  new=' + knowledgeStore.recentNew\n  : 'stats_unavailable';\n\nconst topFamilies = knowledgeStore\n  ? Object.entries(knowledgeStore.docsByFamily)\n      .sort((a, b) => b[1] - a[1])\n      .slice(0, 3)\n      .map(([f, c]) => f + '=' + c)\n      .join(', ')\n  : '';\n\nconst routingValue = providerRouting.totalRouted > 0\n  ? 'routed=' + providerRouting.totalRouted + '  esc=' + providerRouting.escalated + '  fb=' + providerRouting.fallback\n  : 'no_data';\n\nconst fields = [\n  { name: 'Pipelines',       value: pipelineRow || 'no_data', inline: false },\n  { name: 'Knowledge Store', value: ksValue,                  inline: false },\n  { name: 'Review Queue',    value: reviewQueueDepth + ' pending', inline: true },\n  { name: 'Routing',         value: routingValue,             inline: true },\n];\nif (topFamilies) {\n  fields.push({ name: 'Top Families', value: topFamilies, inline: false });\n}\nif (actionableChecks.length > 0) {\n  const issueLines = actionableChecks.slice(0, 3)\n    .map(c => '[' + c.status + '] ' + c.checkName + (c.message ? ': ' + c.message.substring(0, 80) : ''))\n    .join('\\n');\n  const suffix = actionableChecks.length > 3 ? '\\n+' + (actionableChecks.length - 3) + ' more' : '';\n  fields.push({ name: 'Issues', value: (issueLines + suffix).substring(0, 400), inline: false });\n}\n\nconst embed = {\n  title: 'RIS Daily Digest',\n  description: 'Health: ' + derivedStatus + ' (' + overallCategory + ')',\n  color,\n  fields,\n  footer: { text: 'RIS | daily-summary' },\n  timestamp: new Date().toISOString(),\n};\n\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled } }];"
      }
    },
    {
      "id": "s8-format-err",
      "name": "Summary: Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        2670
      ],
      "parameters": {
        "jsCode": "const execNode = $('Summary: Run research-health').item.json || {};\nconst stderr = (execNode.stderr || '').toString().replace(/\\s+/g, ' ').trim().substring(0, 300);\nconst exitCode = Number(execNode.exitCode || 0);\nconst embed = {\n  title: 'RIS Summary Error',\n  description: `Health command exit code: ${exitCode}`,\n  color: 16744448,\n  fields: [],\n  footer: { text: 'RIS | daily-summary' },\n  timestamp: new Date().toISOString(),\n};\nif (stderr.length > 0) {\n  embed.fields.push({ name: 'Error Output', value: stderr, inline: false });\n}\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nreturn [{ json: { embeds: [embed], webhookUrl, notifyEnabled } }];"
      }
    },
    {
      "id": "s9-sticky",
      "name": "S9: Ingest - Label",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        150,
        2800
      ],
      "parameters": {
        "content": "## Section 9: URL Ingestion -- POST /webhook/ris-ingest\nPOST with {\"url\": \"...\", \"source_family\": \"...\"}",
        "height": 50,
        "width": 1750
      }
    },
    {
      "id": "s9-webhook",
      "name": "Ingest: Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        2920
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ris-ingest",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "s9-run",
      "name": "Ingest: Run Acquire",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        550,
        2920
      ],
      "parameters": {
        "command": "=docker exec polytool-ris-scheduler python -m polytool research-acquire --url \"{{ $json.body.url }}\" --source-family \"{{ $json.body.source_family }}\" --no-eval 2>&1"
      },
      "continueOnFail": true
    },
    {
      "id": "s9-if",
      "name": "Ingest: OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        2920
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s9-exit-check",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "s9-fmt-ok",
      "name": "Ingest: Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        2840
      ],
      "parameters": {
        "jsCode": "const webhook = $('Ingest: Webhook').item.json;\nconst exec = $('Ingest: Run Acquire').item.json;\nreturn [{ json: { status: 'ingested', url: webhook.body.url, source_family: webhook.body.source_family, output: (exec.stdout || '').substring(0,500), timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "s9-respond-ok",
      "name": "Ingest: Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        2840
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "s9-fmt-err",
      "name": "Ingest: Format Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        3000
      ],
      "parameters": {
        "jsCode": "const webhook = $('Ingest: Webhook').item.json || {};\nconst exec = $json || {};\nconst body = webhook.body || {};\nconst errorText = (exec.stderr || exec.stdout || 'Unknown error').toString().replace(/\\s+/g, ' ').trim();\nconst statusPayload = {\n  status: 'failed',\n  url: body.url,\n  source_family: body.source_family,\n  error: errorText.substring(0, 500),\n  exitCode: exec.exitCode,\n  timestamp: new Date().toISOString(),\n};\nconst rawUrl = (statusPayload.url || '').toString();\nlet urlDisplay;\nif (rawUrl.length <= 60) {\n  urlDisplay = rawUrl || '(no url)';\n} else {\n  try {\n    const u = new URL(rawUrl);\n    const tail = rawUrl.slice(-20);\n    urlDisplay = `${u.hostname}/...${tail}`;\n  } catch (_) {\n    urlDisplay = rawUrl.substring(0, 40) + '...' + rawUrl.slice(-20);\n  }\n}\nconst errorDisplay = statusPayload.error.substring(0, 300);\nconst family = (statusPayload.source_family || 'unknown');\nconst familyDisplay = family.charAt(0).toUpperCase() + family.slice(1);\nlet description;\nif (statusPayload.exitCode != null) {\n  description = `Exit ${statusPayload.exitCode} | Family: ${familyDisplay}`;\n} else {\n  description = `Family: ${familyDisplay}`;\n}\nconst fields = [];\nif (rawUrl) {\n  fields.push({ name: 'Source', value: urlDisplay, inline: true });\n}\nfields.push({ name: 'Detail', value: errorDisplay || 'Unknown error', inline: false });\nconst embed = {\n  title: `Ingest Failed: ${familyDisplay}`,\n  description,\n  color: 16711680,\n  fields,\n  footer: { text: 'RIS | ingest' },\n  timestamp: new Date().toISOString(),\n};\nconst rawWebhookUrl = '__RIS_OPERATOR_WEBHOOK_URL__';\nconst webhookUrl = (String(rawWebhookUrl).startsWith('http://') || String(rawWebhookUrl).startsWith('https://')) ? String(rawWebhookUrl).trim() : '';\nconst notifyEnabled = webhookUrl.length > 0;\nreturn [{ json: { ...statusPayload, embeds: [embed], webhookUrl, notifyEnabled } }];"
      }
    },
    {
      "id": "s9-respond-err",
      "name": "Ingest: Respond 500",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        3000
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "responseCode": 500
      }
    },
    {
      "id": "operator-notify-if",
      "name": "Operator: Notify Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        1180
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "operator-notify-enabled",
              "leftValue": "={{ $json.notifyEnabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "operator-notify-send",
      "name": "Operator: Send Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        1120
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: $json.embeds }) }}"
      }
    },
    {
      "id": "operator-notify-skip",
      "name": "Operator: Notification Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2250,
        1260
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Health: Schedule": {
      "main": [
        [
          {
            "node": "Health: Run research-health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health: Manual": {
      "main": [
        [
          {
            "node": "Health: Run research-health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health: Run research-health": {
      "main": [
        [
          {
            "node": "Health: Run research-stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health: Run research-stats": {
      "main": [
        [
          {
            "node": "Health: Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health: Parse Output": {
      "main": [
        [
          {
            "node": "Health: Alert Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health: Format Alert": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic: Schedule": {
      "main": [
        [
          {
            "node": "Academic: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic: Manual": {
      "main": [
        [
          {
            "node": "Academic: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic: Run Job": {
      "main": [
        [
          {
            "node": "Academic: Exit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic: Exit OK?": {
      "main": [
        [
          {
            "node": "Academic: Parse Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Academic: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic: Parse Metrics": {
      "main": [
        [
          {
            "node": "Academic: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Academic: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: Schedule": {
      "main": [
        [
          {
            "node": "Reddit: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: Manual": {
      "main": [
        [
          {
            "node": "Reddit: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: Run Job": {
      "main": [
        [
          {
            "node": "Reddit: Exit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: Exit OK?": {
      "main": [
        [
          {
            "node": "Reddit: Parse Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reddit: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: Parse Metrics": {
      "main": [
        [
          {
            "node": "Reddit: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog: Schedule": {
      "main": [
        [
          {
            "node": "Blog: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog: Manual": {
      "main": [
        [
          {
            "node": "Blog: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog: Run Job": {
      "main": [
        [
          {
            "node": "Blog: Exit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog: Exit OK?": {
      "main": [
        [
          {
            "node": "Blog: Parse Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog: Parse Metrics": {
      "main": [
        [
          {
            "node": "Blog: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Schedule": {
      "main": [
        [
          {
            "node": "YouTube: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Manual": {
      "main": [
        [
          {
            "node": "YouTube: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Run Job": {
      "main": [
        [
          {
            "node": "YouTube: Exit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Exit OK?": {
      "main": [
        [
          {
            "node": "YouTube: Parse Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Parse Metrics": {
      "main": [
        [
          {
            "node": "YouTube: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Schedule": {
      "main": [
        [
          {
            "node": "GitHub: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Manual": {
      "main": [
        [
          {
            "node": "GitHub: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Run Job": {
      "main": [
        [
          {
            "node": "GitHub: Exit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Exit OK?": {
      "main": [
        [
          {
            "node": "GitHub: Parse Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Parse Metrics": {
      "main": [
        [
          {
            "node": "GitHub: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness: Schedule": {
      "main": [
        [
          {
            "node": "Freshness: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness: Manual": {
      "main": [
        [
          {
            "node": "Freshness: Run Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness: Run Job": {
      "main": [
        [
          {
            "node": "Freshness: Exit OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness: Exit OK?": {
      "main": [
        [
          {
            "node": "Freshness: Parse Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Freshness: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness: Parse Metrics": {
      "main": [
        [
          {
            "node": "Freshness: Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Freshness: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Webhook": {
      "main": [
        [
          {
            "node": "Ingest: Run Acquire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Run Acquire": {
      "main": [
        [
          {
            "node": "Ingest: OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: OK?": {
      "main": [
        [
          {
            "node": "Ingest: Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ingest: Format Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Format Success": {
      "main": [
        [
          {
            "node": "Ingest: Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Format Fail": {
      "main": [
        [
          {
            "node": "Ingest: Respond 500",
            "type": "main",
            "index": 0
          },
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Schedule": {
      "main": [
        [
          {
            "node": "Summary: Run research-health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Manual": {
      "main": [
        [
          {
            "node": "Summary: Run research-health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Run research-health": {
      "main": [
        [
          {
            "node": "Summary: Health OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Health OK?": {
      "main": [
        [
          {
            "node": "Summary: Run research-stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary: Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Run research-stats": {
      "main": [
        [
          {
            "node": "Summary: Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Format Message": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary: Format Error": {
      "main": [
        [
          {
            "node": "Operator: Notify Enabled?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health: Alert Needed?": {
      "main": [
        [
          {
            "node": "Health: Format Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Health: OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operator: Notify Enabled?": {
      "main": [
        [
          {
            "node": "Operator: Send Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Operator: Notification Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}