infra/n8n/workflows/ris_manual_acquire.json
{
  "name": "RIS Manual Acquire (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ris-acquire",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger-webhook-acquire",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ris-acquire-webhook"
    },
    {
      "parameters": {
        "command": "docker exec polytool-ris-scheduler python -m polytool research-acquire --url \"{{ $json.body.url }}\" --source-family \"{{ $json.body.source_family }}\" --no-eval"
      },
      "id": "exec-acquire",
      "name": "Run research-acquire",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "={{ $json.stdout }}"
            },
            {
              "name": "exit_code",
              "value": "={{ $json.exitCode }}"
            },
            {
              "name": "url_ingested",
              "value": "={{ $('Webhook').item.json.body.url }}"
            },
            {
              "name": "source_family",
              "value": "={{ $('Webhook').item.json.body.source_family }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Run research-acquire",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run research-acquire": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "ris-manual-acquire",
  "meta": {
    "instanceId": "polytool-ris-pilot",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "notes": "RIS PILOT SCOPE: Accepts POST webhook with {url, source_family} body and calls research-acquire CLI. SECURITY: Treat the webhook URL path as a secret -- it contains an n8n-generated token. Valid source_family values: academic, github, blog, news, book, reddit, youtube. The CLI validates source_family before fetching; invalid values are rejected. Do NOT add strategy, gate, risk, or live capital logic. See docs/adr/0013-ris-n8n-pilot-scoped.md. Command: docker exec polytool-ris-scheduler python -m polytool research-acquire --url ... Example POST body: {\"url\": \"https://arxiv.org/abs/2106.01345\", \"source_family\": \"academic\"}"
}
